#home {
    display: inline-block;
    /* display: none; */
    width: 96dvw;
    padding: 2dvw 2dvw 12dvh 2dvw;
}

#homeMain {
    width: 100%;
    aspect-ratio: 16/8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: calc(0.2dvw + 0.1dvh) solid #e1c573;
    border-bottom: none;
}

#homeTopLayer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    padding: 4dvh;
    width: calc(9dvw + 10dvh);
    height: auto;
}

#authWrapper {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#userInfoWrapper {
    display: none;
    width: 24dvw;
    height: 60%;
    padding: 0% 4%;
    margin-right: 3dvw;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f33;
    border: 0.2dvh solid #e1c573;
    font-size: large;
}

#userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1dvh;

    font-size: medium;
}

#signoutBtn {
    padding: 4%;
    height: 80%;
}

#signinBtnWrapper {
    height: calc(6dvh + 2.5dvw);
    width: fit-content;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 3dvw;
}

#signinBtn {
    margin: 0px;
    padding: 2dvh 2dvw;
    width: fit-content;
    height: 100%;
    white-space: nowrap;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1dvw;
}

#signinBtn:focus {
    outline: none;
}

#googleLogo {
    width: 3dvh;
    height: 3dvh;
}

@media (max-width: 1200px) {
    #googleLogo {
        display: none;
    }
}

#cardOpenerLayer {
    width: 100%;
    height: 34dvh;
    margin: 2dvh 0px 5dvh 0px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#deckWrapper {
    height: 34dvh;
    width: 12dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#deck {
    width: 100%;
    height: 100%;
    padding: 0px;
    border: 0.2dvh solid #e1c573;
    box-shadow: 0px 0px 4px 4px #00000044;
    background-image: url("/images/home/deck.jpg");
    background-size: cover;
    background-position: center;
    transition: width 0.1s, height 0.1s, box-shadow 0.2s, border 0.2s,
        filter 0.2s;
}

#deck:hover {
    border: 0.2dvh solid #f1dfa4;
    box-shadow: 0px 0px 6px 6px #4441;
    filter: brightness(1.1);
}

#deck:active {
    transition: width 0s, height 0s, box-shadow 0s, border 0s, filter 0s;
    height: 98%;
    width: 98%;
    border: 0.2dvh solid #e1c573;
    box-shadow: inset 0px 0px 8px 4px #00000066;
}

#cardOpenerWrapper {
    width: 78dvw;
    height: 34dvh;
}

#cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.mainCardWrapper {
    width: 0px;
    height: 100%;
    margin: 0px 2dvw;
    background-color: #1f1f33;
    border: 0.2dvh solid #e1c573;
    box-shadow: 0px 0px 4px 4px #00000044;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: calc(6px + 0.7dvw);
    transition: opacity 0.4s, width 0.4s, height 0.4s, box-shadow 0.4s,
        margin 0.4s;
}

.mainCardWrapper:hover {
    height: 112%;
    font-size: calc(7px + 0.8dvw);
    box-shadow: 0px 0px 1dvh 0.5dvh #0006;
}

.mainCard {
    width: 96%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1%;
    align-items: center;

    pointer-events: none;
}

.cardImgWrapper {
    width: 100%;
    height: 50%;
    border-radius: 100dvh 100dvh 0 0;
    border: 0.2dvh solid #807253;
    overflow: hidden;
}

.cardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.cardDescWrapper {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232330;
    border: 0.2dvh solid #807253;
    text-align: center;
    overflow: hidden;
}

.cardName {
    margin-top: 4%;
    font-size: calc(3px + 0.2dvh + 0.9dvw);
}
.cardDesc {
    padding: 4% 6% 8% 6%;
    font-size: calc(3px + 0.2dvh + 0.8dvw);
    letter-spacing: 0.1dvh;
    line-height: 124%;
}

#homePlaceholdLayer {
    width: 100%;
    height: 56%;
}

#homeBtnLayer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

#homeBtnLayer div {
    width: 20%;
    height: 100%;
    margin-bottom: 1dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playBtnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playBtn {
    height: 11dvh;
    font-size: large;
    letter-spacing: 0.15dvw;

    border: 0.3dvh solid #dac378;
    transition: opacity 0.2s, width 0.6s, box-shadow 0.2s, filter 0.1s;
}

.btnActive {
    width: 88%;

    opacity: 1;
}

.btnInactive {
    width: 100%;

    opacity: 0.6;
}

.btnWide {
    width: 100%;

    filter: brightness(0.85);
}

#fullscreenBtn {
    width: 20%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: medium;
    /* font-weight: bold; */
    letter-spacing: 0.15dvw;
    background-image: url("/images/home/fullscreen.png");
    background-size: 52% 52%;
    background-position: center;
    background-repeat: no-repeat;

    box-shadow: 0px 0px 2px 2px #00000022;
}

#homeAccentBar {
    margin-bottom: 2dvh;

    width: 4%;
    height: 0px;

    border: #dac378 0.18dvh solid;
}

#triangle {
    margin-top: -0.1%;
    width: 100.4%;
    aspect-ratio: 3/1;
    position: relative;

    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="50%" y2="100%" stroke="rgb(225,197,115)" stroke-width= "3" /></svg>'),
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="50%" y1="100%" x2="100%" y2="0" stroke="rgb(225,197,115)" stroke-width= "3"/></svg>');
}

#homeContentWrapper {
    width: 100%;
}

#homeContent {
    width: 100%;
    margin-top: 12dvh;

    display: flex;

    flex-direction: column;
    align-items: center;
}

.country {
    width: 80%;
    padding: 5dvh 3dvw;
    margin: 7dvh 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4dvh;

    border: 0.2dvh solid #e1c573;
    box-shadow: 0px 0px 2px 2px #00000044;
    background-color: #27273a44;

    transition: width 0.2s, background-color 0.2s, border 0.2s, box-shadow 0.2s;
}

.country:hover {
    width: 82%;
    background-color: #000a;
    border: 0.3dvh solid #e1c573;
    box-shadow: 0px 0px 4px 4px #00000066;
}

.countryName {
    margin: 0px 0px 0px 0.5dvw;
    font-size: calc(9px + 1.2dvh + 1.2dvw);
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 2px 2px 3px #000000ff;
}

.countryImgWrapper {
    width: calc(8.5dvw + 8.5dvh);
    height: calc(8.5dvw + 8.5dvh);

    border: 0.2dvh solid #807253;
}

.countryImgWrapper img {
    width: 100%;
    height: 100%;
}

.countryDesc {
    width: 76%;
    font-size: large;
    font-weight: 300;
    letter-spacing: 0.1dvw;
    text-align: center;
    line-height: 160%;
}

.units {
    width: 100%;
    margin-top: 4dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardWrapper {
    width: 13dvw;
    aspect-ratio: 3/5;
    /* background-color: #1f1f33; */
    border: 0.2dvh solid #e1c573;
    box-shadow: 0px 0px 4px 4px #00000044;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(8px + 1dvh);
}

.card {
    width: 96%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1%;
    align-items: center;

    pointer-events: none;
}

.card .cardDescWrapper {
    background: none;
}

#unitPopUpWrapper {
    position: fixed;
    top: 0;
    left: 50dvw;
    width: 50dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.2s;
}

#popUpImage {
    width: 80%;
    height: 80%;
    object-fit: contain;
}

#popUpForground {
    position: fixed;
    top: 0;
    left: 70dvw;
    width: 30dvw;
    height: 100dvh;
    background: linear-gradient(to right, #0000, #000a);
}

#unitImagePopUp img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000088;
    z-index: 1;
    color: #fff;
    font-size: larger;
}
