html {
    background-color: #000;
}

body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    background: linear-gradient(#27273a 90dvh, #202030 160dvh, #000 420dvh);
    color: #dac378;
}
img {
    pointer-events: none;
}
.timesFont {
    font-family: "Times New Roman", Times, serif;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    text-decoration: none;
    text-align: center;
}

.btn {
    border: 0.2dvh solid #dac378;
    box-shadow: 1px 1px 2px 2px #00000044;
    background-color: #26263f;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #dac378;
    font-size: large;
}

.btn:hover {
    box-shadow: 0px 0px 3px 3px #ffffff08;
    filter: brightness(1.1);
}

.btn:active,
.insideBtn:active {
    box-shadow: inset 0px 0px 4px 2px #00000088, 0px 0px 4px 4px #ffffff08;
    filter: brightness(0.8);
}

.insideBtn {
    border: 0.2dvh solid #807253;
    background-color: #232330;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: #dac378;
    font-size: medium;
}

body::-webkit-scrollbar {
    display: none;
}
#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    visibility: hidden;
    opacity: 0;

    transition: opacity 0.2s;
}

#modalBackdrop {
    position: absolute;
    width: 100%;
    height: 200%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000066;
    overflow: hidden;
}

#modalContent {
    min-width: 25%;
    min-height: 32%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #27273a;
    border: 0.2dvh solid #e1c573;
    z-index: 1;

    /* shadow */
    box-shadow: 0px 0px 1dvh 1dvw #0000001a;
}

#modalHeader {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#modalClose {
    padding: 2%;
    height: auto;
}

#modalBody {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.15dvw;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
}

#modalFooter {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.modalRow {
    width: 100%;
    padding: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.modalBtn {
    padding: 4%;
    font-size: 24px;
}
#settingWrapper {
    display: none;
}

#footer {
    z-index: 100;
    position: fixed;
    left: 1.4dvw;
    bottom: 0px;
    width: 97.2dvw;
    height: 5dvh;

    display: flex;
    justify-content: space-between;

    color: #dac378;
}

#footer > div {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1.4dvw;
    text-shadow: 0px 0px 2px #000000ff;
}

.footerBtn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6dvw;
    font-size: medium;
}

.footerImg {
    height: 72%;
    object-fit: cover;
}

#languageText {
    height: fit-content;
    color: #dac378;
}

#developerBtn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2dvw;
    font-size: medium;
}

#developerBtn > span {
    color: #f0dea3;
    text-decoration-line: underline;
}

#languagePopUp {
    position: fixed;
    width: fit-content;
    bottom: 5.2dvh;
    left: 1.4dvw;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #27273a;
    border: 0.2dvh solid #e1c573;
    z-index: 1;

    /* shadow */
    box-shadow: 0px 0px 1dvh 1dvw #0000001a;
}

#languagePopUp > button {
    width: fit-content;
    padding: 2dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #dac378;
    font-size: small;
}

#languagePopUp > button:hover {
    background-color: #00000044;
}
