extends layout

block content
  #container
    //- button#test
    //-   h1 TEST
    #home
      #homeMain
        #logoWrapper
          img#logo(src="images/home/logo.png" alt="logo")
        #cardOpenerLayer
          #cardOpenerWrapper
            #cards
              button#deck
        #homePlaceholdLayer
        #homeBtnLayer
          div
          #playBtnWrapper
            button#playBtn.btnInactive
              span#playBtnText Waiting for connection...
          div
            button#fullscreenBtn
              //- img(src="images/home/fullscreen.png" alt="fullscreen" width="24" height="24")
        #homeAccentBar
      #triangle
      #homeContentWrapper
        #homeContent
          .country
            h2.countryName Poeir
            .countryDescWrapper
              .countryImgWrapper 
                img(src="images/synergies/Poeir.jpg" alt="poeir")
              span.countryDesc Description of Poeir
            #Poeir.units
          .country
            h2.countryName Therme
            .countryDescWrapper
              .countryImgWrapper 
                img(src="images/synergies/Therme.jpg" alt="poeir")
              span.countryDesc Description of Therme
            #Therme.units
          .country
            h2.countryName Nature
            .countryDescWrapper
              .countryImgWrapper 
                img(src="images/synergies/Nature.jpg" alt="poeir")
              span.countryDesc Description of Nature
            #Nature.units
          .country
            h2.countryName Others
            .countryDescWrapper
              span.countryDesc Description of Others
            #Creep.units

      #footer
        #client
          span#id.timesFont unknown
          button#soundBtn
            img#soundImg(src="images/home/note2.png" alt="sound")
        #app
          span.timesFont v0.1.8
          a(href = "https://github.com/wndgur2") @wndgur2
    #game
      #timerWrapper
        span#timer 0
        #timerAccentBar
      #controlBtns
        button#surrenderBtn 🏳️
        //- button#settingBtn ⚙️
      #damage
      #inventoryWrapper
        table#inventory
          tbody#items
            tr.row
              td#inventory-0-0.inventoryCell
              td#inventory-0-1.inventoryCell
            tr.row
              td#inventory-1-0.inventoryCell
              td#inventory-1-1.inventoryCell
            tr.row
              td#inventory-2-0.inventoryCell
              td#inventory-2-1.inventoryCell
            tr.row
              td(colspan="2")
                #moneyWrapper
                  img.coinImg(src="images/game/coin.png")
                  span#money
      #rightWrapper
        #playersHp.timesFont
      #synergies
      #bottomWrapper
        //- #streak
        #bottomRow
          #buyBtns
            button#reload Reload [D] 2💰
            button#buyExp
              #levelInfo
                span Lv.
                span#level
                span &nbsp
                span#curExp
                span /
                span#maxExp
              span Exp [F] 4💰
          #shop
            #sell
            #shoplist
              button.timesFont
                .shopListWrapper
                  .shopImageWrapper
                    .shopGradient
                  .shopUnitInfo
                    div.shopUnitNameCost
                      span.shopUnitName
                      .shopUnitCostWrapper
                        span.shopUnitCost
                        img.coinImg(src="images/game/coin.png")
                    .shopSynergies
              button.timesFont
                .shopListWrapper
                  .shopImageWrapper
                    .shopGradient
                  .shopUnitInfo
                    div.shopUnitNameCost
                      span.shopUnitName
                      .shopUnitCostWrapper
                        span.shopUnitCost
                        img.coinImg(src="images/game/coin.png")
                    .shopSynergies
              button.timesFont
                .shopListWrapper
                  .shopImageWrapper
                    .shopGradient
                  .shopUnitInfo
                    div.shopUnitNameCost 
                      span.shopUnitName
                      .shopUnitCostWrapper
                        span.shopUnitCost
                        img.coinImg(src="images/game/coin.png")
                    .shopSynergies
              button.timesFont
                .shopListWrapper
                  .shopImageWrapper
                    .shopGradient
                  .shopUnitInfo
                    div.shopUnitNameCost 
                      span.shopUnitName
                      .shopUnitCostWrapper
                        span.shopUnitCost
                        img.coinImg(src="images/game/coin.png")
                    .shopSynergies
          #unitInfo
            #unitPortrait
              #unitImgWrapper
              .gradient
            #unitDesc
              #unitName
              #unitSynergies
              #unitStats
                .unitStat
                  div
                    span 💰
                    #cost
                  div
                    span 🩸
                    #hp
                    span /
                    #maxHp
                  div
                    span 💧
                    #mp
                    span /
                    #maxMp
                  div
                    span 🗡️
                    #ad
                .unitStat
                  div
                    span 🛡️
                    #armor
                  div
                    span 🎯
                    #range
                  div
                    span 🏃
                    #speed
            #unitSkills
              #unitSkillWrapper
            #unitItems
              .item#0
              .item#1
              .item#2
  #hid
    #popUp
    #modal
      #modalBackdrop
      #modalContent
        #modalHeader
          button#modalClose
            img(src="images/home/x.png" alt="close" width="20" height="20")
        #modalBody
        #modalFooter
    //- #settingWrapper
    //-   .modalRow
    //-     button#language.modalBtn 🌎
    //-     button#volume.modalBtn 🔉
    #surrenderWrapper
      .modalRow
        button#surrender.modalBtn 🏳️
    #waiting
      .modalRow
        span#matchingTime