extends layout

block content
  div#container
    div
      span 내 IP
      span#myIp
    div#level 레벨 1
    div
      span 내 쥐: 
      span#mouse 10
    div#shop
      button#reload 상점 새로고침
      div#shoppingList
    div#board
      table
        tbody
          tr
            td#0
              span 0
            td#1
              span 1
            td#2
              span 2
            td#3
              span 3
            td#4
              span 4
            td#5
              span 5
          tr
            td#0
              span 0
            td#1
              span 1
            td#2
              span 2
            td#3
              span 3
            td#4
              span 4
            td#5
              span 5
          tr
            td#0
              span 0
            td#1
              span 1
            td#2
              span 2
            td#3
              span 3
            td#4
              span 4
            td#5
              span 5
          tr
            td#0
              span 0
            td#1
              span 1
            td#2
              span 2
            td#3
              span 3
            td#4
              span 4
            td#5
              span 5
          tr
            td#0
              span 0
            td#1
              span 1
            td#2
              span 2
            td#3
              span 3
            td#4
              span 4
            td#5
              span 5
          tr
            td#0
              span 0
            td#1
              span 1
            td#2
              span 2
            td#3
              span 3
            td#4
              span 4
            td#5
              span 5
    div#waits
      div#wait1
      div#wait2
      div#wait3
      div#wait4
      div#wait5
      div#wait6
      div#wait7