extends layout

block content
  #container
    span#id &nbsp no id
    #home 
      span#title Cat Chess
      button#enterGame
        h2 Enter Game
    #waiting
      h2 Searching
    #game
      #topWrapper
        #state
        #stageInfo
          span Stage&nbsp
          span#round 
          span &nbsp-&nbsp
          span#stage
        #timerWrapper
          span#timer
      #leftWrapper
        table 
          tbody#inventory
            tr
              span Inventory
        #moneyWrapper
          div
            span 💰
            span#money
      #rightWrapper
      #synergies
      #bottomWrapper
        //- #streak
        #bottomRow
          #buyBtns
            button#reload Reload [D] 2💰
            button#buyExp
              #levelInfo
                span Lv.
                span#level
                span &nbsp
                span#curExp
                span /
                span#maxExp
              span Exp [F] 4💰
          #shop
            #sell
            #shoplist
              button
                .shopImageWrapper
                  .shopGradient
                .shopUnitInfo
                  span.shopUnitName
                  .shopSynergies
                  span.shopUnitCost
              button
                .shopImageWrapper
                  .shopGradient
                .shopUnitInfo
                  span.shopUnitName
                  .shopSynergies
                  span.shopUnitCost
              button
                .shopImageWrapper
                  .shopGradient
                .shopUnitInfo
                  span.shopUnitName
                  .shopSynergies
                  span.shopUnitCost
              button
                .shopImageWrapper
                  .shopGradient
                .shopUnitInfo
                  span.shopUnitName
                  .shopSynergies
                  span.shopUnitCost
          #unitInfo
            #unitPortrait
              #unitImgWrapper
              .gradient
            #unitDesc
              #unitName
              #unitSynergies
              #unitStats
                .unitStat
                  div
                    span 💰
                    #cost
                  div
                    span 🩸
                    #hp
                    span /
                    #maxHp
                  div
                    span 💧
                    #mp
                    span /
                    #maxMp
                  div
                    span 🗡️
                    #ad
                .unitStat
                  div
                    span 🛡️
                    #armor
                  div
                    span 🎯
                    #range
                  div
                    span 🏃
                    #speed
            #unitSkills
              #unitSkillWrapper
            #unitItems
              .item#0
              .item#1
              .item#2
    #popUp