extends layout

block content
  #container
    //- button#test
    //-   h1 TEST
    #home
      #homeMain
        #logoWrapper
          img#logo(src="images/home/logo.png" alt="logo")
        #cardOpenerLayer
          #cardOpenerWrapper
            #cards
              button#deck
        #homePlaceholdLayer
        #homeBtnLayer
          div
          #playBtnWrapper
            button#playBtn.btnInactive
              span#playBtnText Waiting for connection...
          div
            button#fullscreenBtn
        #homeAccentBar
      #triangle
      #homeContentWrapper
        #homeContent
          .country
            h2.countryName Poeir
            .countryDescWrapper
              .countryImgWrapper 
                img(src="images/synergies/Poeir.jpg" alt="poeir")
              span.countryDesc A feline empire that has risen to prominence due to its abundant resources. Over time, the cats of Poeir have grown bigger and stronger, likely due to their access to plentiful sustenance and materials for crafting sturdy armor and weapons. 
                |Driven by their goal to dominate the planet and eliminate rival tribes, Poeir has engaged in conquest and expansionist campaigns, using their superior resources and strength to assert their dominance over other territories. This aggressive stance suggests a militaristic society, with a strong emphasis on martial prowess and strategic warfare. 
                |Within Poeir, there would be a hierarchical structure, with a ruling monarch or royal family at the top, supported by a network of nobles, military leaders, and skilled artisans. The society would likely value loyalty, strength, and honor, with a code of chivalry governing the behavior of knights and warriors. 
            #Poeir.units
          .country
            h2.countryName Therme
            .countryDescWrapper
              .countryImgWrapper 
                img(src="images/synergies/Therme.jpg" alt="poeir")
              span.countryDesc Abandoned cats from the ground. Cats who lost a resource war against Poeir in 231th century. 
                |In the subterranean realm of Therme, where darkness reigns supreme and the earth's embrace is ever present, a civilization thrives in the depths.
                |Their senses have adapted to the darkness, relying on vibration detection and smell. 
                |In the labyrinthine depths of the earth, the cats of Therme find solace and purpose in the solemn duty that defines their existence: the preservation and protection of their underground territories.
            #Therme.units
          .country
            h2.countryName Nature
            .countryDescWrapper
              .countryImgWrapper 
                img(src="images/synergies/Nature.jpg" alt="poeir")
              span.countryDesc Natures have embraced a life in harmony with the natural world. They revere nature and its elements, viewing the stars as celestial guardians that saved the Earth from destruction by humans. 
                |Their society is deeply rooted in spiritual beliefs, with some members possessing shamanic abilities that allow them to communicate with the natural spirits. 
                |Living amidst the untamed wilderness, the cats of Nature have adapted to their environment, honing their senses to navigate the darkness and blend seamlessly into their surroundings. 
                |They possess keen night vision, allowing them to move with ease under the cover of darkness and evade potential threats. 
            #Nature.units
          .country
            h2.countryName Others
            .countryDescWrapper
              span.countryDesc Creatures that are not with cats.
            #Creep.units
        #unitPopUpWrapper 
          img#popUpImage
          #popUpForground
        #loading
          span#loadingText Fetching Data.
      #footer
        #client
          span#id.timesFont unknown
          button#soundBtn
            img#soundImg(src="images/home/note2.png" alt="sound")
        #app
          span.timesFont v0.2.1
          a(href = "https://github.com/wndgur2") @wndgur2
    #game
      #timerWrapper
        span#timer 0
        #timerAccentBar
      #controlBtns
        button#surrenderBtn 🏳️
        //- button#settingBtn ⚙️
      #damage
      #inventoryWrapper
        table#inventory
          tbody#items
            tr.row
              td#inventory-0-0.inventoryCell
              td#inventory-0-1.inventoryCell
            tr.row
              td#inventory-1-0.inventoryCell
              td#inventory-1-1.inventoryCell
            tr.row
              td#inventory-2-0.inventoryCell
              td#inventory-2-1.inventoryCell
            tr.row
              td(colspan="2")
                #moneyWrapper
                  img.coinImg(src="images/game/coin.png")
                  span#money
      #rightWrapper
        #playersHp.timesFont
      #synergies
      #bottomWrapper
        //- #streak
        #bottomRow
          #buyBtns
            button#reload Reload [D] 2💰
            button#buyExp
              #levelInfo
                span Lv.
                span#level
                span &nbsp
                span#curExp
                span /
                span#maxExp
              span Exp [F] 4💰
          #shop
            #sell
            #shoplist
              button.timesFont
                .shopListWrapper
                  .shopImageWrapper
                    .shopGradient
                  .shopUnitInfo
                    div.shopUnitNameCost
                      span.shopUnitName
                      .shopUnitCostWrapper
                        span.shopUnitCost
                        img.coinImg(src="images/game/coin.png")
                    .shopSynergies
              button.timesFont
                .shopListWrapper
                  .shopImageWrapper
                    .shopGradient
                  .shopUnitInfo
                    div.shopUnitNameCost
                      span.shopUnitName
                      .shopUnitCostWrapper
                        span.shopUnitCost
                        img.coinImg(src="images/game/coin.png")
                    .shopSynergies
              button.timesFont
                .shopListWrapper
                  .shopImageWrapper
                    .shopGradient
                  .shopUnitInfo
                    div.shopUnitNameCost 
                      span.shopUnitName
                      .shopUnitCostWrapper
                        span.shopUnitCost
                        img.coinImg(src="images/game/coin.png")
                    .shopSynergies
              button.timesFont
                .shopListWrapper
                  .shopImageWrapper
                    .shopGradient
                  .shopUnitInfo
                    div.shopUnitNameCost 
                      span.shopUnitName
                      .shopUnitCostWrapper
                        span.shopUnitCost
                        img.coinImg(src="images/game/coin.png")
                    .shopSynergies
          #unitInfo
            #unitPortrait
              #unitImgWrapper
              .gradient
            #unitDesc
              #unitName
              #unitSynergies
              #unitStats
                .unitStat
                  div
                    span 💰
                    #cost
                  div
                    span 🩸
                    #hp
                    span /
                    #maxHp
                  div
                    span 💧
                    #mp
                    span /
                    #maxMp
                  div
                    span 🗡️
                    #ad
                .unitStat
                  div
                    span 🛡️
                    #armor
                  div
                    span 🎯
                    #range
                  div
                    span 🏃
                    #speed
            #unitSkills
              #unitSkillWrapper
            #unitItems
              .item#0
              .item#1
              .item#2
  #hid
    #popUp
    #modal
      #modalBackdrop
      #modalContent
        #modalHeader
          button#modalClose
            img(src="images/home/x.png" alt="close" width="20" height="20")
        #modalBody
        #modalFooter
    //- #settingWrapper
    //-   .modalRow
    //-     button#language.modalBtn 🌎
    //-     button#volume.modalBtn 🔉
    #surrenderWrapper
      .modalRow
        button#surrender.modalBtn 🏳️
    #waiting
      .modalRow
        span#matchingTime