extends layout

block content
  #container
    #home
      #homeBody
        span#title Cat Chess
        span 0.0.27
        #greeting
          span#sub Welcome, &nbsp
          span#id unknown
        button#playBtn
          h2 Play
    #game
      #topWrapper
        #placeholder
        #timerWrapper
          span#timer
        //- #state
        //- #stageInfo
        //-   span Stage&nbsp
        //-   span#round
        //-   span &nbsp-&nbsp
        //-   span#stage
        #controlBtns
          button#surrenderBtn 🏳️
          button#settingBtn ⚙️
      #leftWrapper
        #damage
        #inventory
          table 
            tbody#items
          #moneyWrapper
            div
              span 💰
              span#money
      #rightWrapper
        #playersHp
      #synergies
      #bottomWrapper
        //- #streak
        #bottomRow
          #buyBtns
            button#reload Reload [D] 2💰
            button#buyExp
              #levelInfo
                span Lv.
                span#level
                span &nbsp
                span#curExp
                span /
                span#maxExp
              span Exp [F] 4💰
          #shop
            #sell
            #shoplist
              button
                .shopImageWrapper
                  .shopGradient
                .shopUnitInfo
                  span.shopUnitName
                  .shopSynergies
                  span.shopUnitCost
              button
                .shopImageWrapper
                  .shopGradient
                .shopUnitInfo
                  span.shopUnitName
                  .shopSynergies
                  span.shopUnitCost
              button
                .shopImageWrapper
                  .shopGradient
                .shopUnitInfo
                  span.shopUnitName
                  .shopSynergies
                  span.shopUnitCost
              button
                .shopImageWrapper
                  .shopGradient
                .shopUnitInfo
                  span.shopUnitName
                  .shopSynergies
                  span.shopUnitCost
          #unitInfo
            #unitPortrait
              #unitImgWrapper
              .gradient
            #unitDesc
              #unitName
              #unitSynergies
              #unitStats
                .unitStat
                  div
                    span 💰
                    #cost
                  div
                    span 🩸
                    #hp
                    span /
                    #maxHp
                  div
                    span 💧
                    #mp
                    span /
                    #maxMp
                  div
                    span 🗡️
                    #ad
                .unitStat
                  div
                    span 🛡️
                    #armor
                  div
                    span 🎯
                    #range
                  div
                    span 🏃
                    #speed
            #unitSkills
              #unitSkillWrapper
            #unitItems
              .item#0
              .item#1
              .item#2
    #popUp
    #modal
      #modalBackdrop
      #modalContent
        #modalHeader
          span#modalTitle 
          button#modalClose X
        #modalBody
    #settingWrapper
      .modalRow
        button#language.modalBtn 🌎
        button#volume.modalBtn 🔉
    #surrenderWrapper
      .modalRow
        button#cancel.modalBtn ❌
        button#surrender.modalBtn 🏳️
    #waiting
      .modalRow
        h2 Searching