extends layout

block content
  #container
    #home
      #homeContent
        #logoWrapper
          img#logo(src="images/home/logo.png" alt="logo" width="152" height="80")
        #homeDisplayLayer
        #homeBtnLayer
          div
          #playBtnWrapper
            button#playBtn.btnInactive
              span Waiting for connection...
          div
            button#fullscreenBtn
              img(src="images/home/fullscreen.png" alt="fullscreen" width="24" height="24")
        #accentBar
      #triangle
      #footer
        #client
          span#id.timesFont unknown
        #app
          span.timesFont v0.1.0
          a(href = "https://github.com/wndgur2") @wndgur2
    #game
      #topWrapper
        #placeholder
        #timerWrapper
          span#timer
        #controlBtns
          button#surrenderBtn 🏳️
          //- button#settingBtn ⚙️
      #leftWrapper
        #damage
        #inventory
          table 
            tbody#items
          #moneyWrapper
            div
              span 💰
              span#money
      #rightWrapper
        #playersHp
      #synergies
      #bottomWrapper
        //- #streak
        #bottomRow
          #buyBtns
            button#reload Reload [D] 2💰
            button#buyExp
              #levelInfo
                span Lv.
                span#level
                span &nbsp
                span#curExp
                span /
                span#maxExp
              span Exp [F] 4💰
          #shop
            #sell
            #shoplist
              button
                .shopImageWrapper
                  .shopGradient
                .shopUnitInfo
                  span.shopUnitName
                  .shopSynergies
                  span.shopUnitCost
              button
                .shopImageWrapper
                  .shopGradient
                .shopUnitInfo
                  span.shopUnitName
                  .shopSynergies
                  span.shopUnitCost
              button
                .shopImageWrapper
                  .shopGradient
                .shopUnitInfo
                  span.shopUnitName
                  .shopSynergies
                  span.shopUnitCost
              button
                .shopImageWrapper
                  .shopGradient
                .shopUnitInfo
                  span.shopUnitName
                  .shopSynergies
                  span.shopUnitCost
          #unitInfo
            #unitPortrait
              #unitImgWrapper
              .gradient
            #unitDesc
              #unitName
              #unitSynergies
              #unitStats
                .unitStat
                  div
                    span 💰
                    #cost
                  div
                    span 🩸
                    #hp
                    span /
                    #maxHp
                  div
                    span 💧
                    #mp
                    span /
                    #maxMp
                  div
                    span 🗡️
                    #ad
                .unitStat
                  div
                    span 🛡️
                    #armor
                  div
                    span 🎯
                    #range
                  div
                    span 🏃
                    #speed
            #unitSkills
              #unitSkillWrapper
            #unitItems
              .item#0
              .item#1
              .item#2
  #hid
    #popUp
    #modal
      #modalBackdrop
      #modalContent
        #modalHeader
          button#modalClose
            img(src="images/home/x.png" alt="close" width="20" height="20")
        #modalBody
        #modalFooter
    //- #settingWrapper
    //-   .modalRow
    //-     button#language.modalBtn 🌎
    //-     button#volume.modalBtn 🔉
    #surrenderWrapper
      .modalRow
        button#surrender.modalBtn 🏳️
    #waiting
      .modalRow
        span Looking for a match...