extends layout

block content
  div#container
    div#level
    div#shop 상점
      span 쥐:
      span#mouse
      button#refresh(onclick="refreshShop()") 상점 새로고침
      div#shoppingList
    div#board
      table
        tbody
          tr
            td#0
              span 0
            td#1
              span 1
            td#2
              span 2
            td#3
              span 3
            td#4
              span 4
            td#5
              span 5
          tr
            td#0
              span 0
            td#1
              span 1
            td#2
              span 2
            td#3
              span 3
            td#4
              span 4
            td#5
              span 5
          tr
            td#0
              span 0
            td#1
              span 1
            td#2
              span 2
            td#3
              span 3
            td#4
              span 4
            td#5
              span 5
          tr
            td#0
              span 0
            td#1
              span 1
            td#2
              span 2
            td#3
              span 3
            td#4
              span 4
            td#5
              span 5
          tr
            td#0
              span 0
            td#1
              span 1
            td#2
              span 2
            td#3
              span 3
            td#4
              span 4
            td#5
              span 5
          tr
            td#0
              span 0
            td#1
              span 1
            td#2
              span 2
            td#3
              span 3
            td#4
              span 4
            td#5
              span 5
    div#waits
      table 
        tr 
          td
            button 1
          td
            button 2
          td
            button 3
          td
            button 4
          td
            button 5
          td
            button 6