#home {
    display: block-inline;
    width: calc(100dvw - 6dvh);
    height: 94dvh;
    margin: 3dvh 3dvh 0px 3dvh;
    border: 0.4dvh solid #e1c573;
    border-bottom: none;
}

#homeContent {
    width: calc(100dvw - 6dvh);
    height: 94dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

#logoWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo {
    padding: 3dvh;
    width: 10dvw;
    height: auto;
}

#homeDisplayLayer {
    height: 50%;
}

#homeBtnLayer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

#homeBtnLayer div {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playBtnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playBtn {
    height: 11dvh;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: large;
    letter-spacing: 0.15dvw;

    color: #cebb82;
    background-color: #2a2a48;
    border: 0.3dvh solid #dac378;
    box-shadow: 0px 0px 3px 3px #00000044;

    transition: opacity 0.2s, width 0.6s, color 0.2s, border 0.2s,
        box-shadow 0.2s, background-color 0.2s;
}

#playBtn:hover {
    color: #eddaa1;
    border: 0.3dvh solid #f7e5ab;
    box-shadow: 0px 0px 4px 4px #ffffff08;
    background-color: #2d2d4a;
}

.btnActive {
    width: 88%;

    opacity: 1;
}

.btnInactive {
    width: 100%;

    opacity: 0.6;
}

#fullscreenBtn {
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: medium;
    /* font-weight: bold; */
    letter-spacing: 0.15dvw;

    background-color: #2e2e46;
    border: 0.2dvh solid #dac378;
    box-shadow: 0px 0px 2px 2px #00000022;
}

#homeAccentBar {
    margin-bottom: 3dvh;

    width: 4%;
    height: 0px;

    border: #dac378 0.18dvh solid;
}

#triangle {
    margin-top: -0.1%;
    margin-left: -0.2%;
    width: 100.4%;
    height: 48vh;
    position: relative;

    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="50%" y2="100%" stroke="rgb(225,197,115)" stroke-width= "3" /></svg>'),
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="50%" y1="100%" x2="100%" y2="0" stroke="rgb(225,197,115)" stroke-width= "3"/></svg>');
}
