#home {
    display: inline-block;
    width: calc(100dvw - 6dvh);
    height: 94dvh;
    margin: 3dvh 3dvh 0px 3dvh;
    border: 0.4dvh solid #e1c573;
    border-bottom: none;
}

#homeContent {
    width: calc(100dvw - 6dvh);
    height: 94dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

#logoWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo {
    padding: 3dvh;
    width: 10dvw;
    height: auto;
}

#deck {
    position: absolute;
    top: 28dvh;
    left: -4dvw;
    width: 13dvw;
    height: 36dvh;
    padding: 0px;
    border: 0.2dvh solid #e1c573;
    box-shadow: 0px 0px 4px 4px #00000044;
    background-image: url("/images/home/deck.png");
    background-size: cover;
    background-position: center;
    transition: left 0.2s, top 0.2s, height 0.2s, width 0.2s, box-shadow 0.2s;
}

#deck:hover {
    top: 27.5dvh;
    width: 14dvw;
    height: 38dvh;
}

#deck:active {
    left: -3.2dvw;
    top: 28.2dvh;
    width: 12.6dvw;
    height: 35dvh;
    box-shadow: inset 0px 0px 4px 4px #000000aa, 0px 0px 4px 4px #00000044;
}

#cardOpenerLayer {
    position: absolute;
    top: 28dvh;
    margin-left: 12dvw;
    width: 88dvw;
    height: 36dvh;
}

#cardOpenerWrapper {
    width: 100%;
    height: 100%;
}

#cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.cardWrapper {
    width: 0px;
    height: 100%;
    margin: 0px 2dvw;
    background-color: #1f1f33;
    border: 0.2dvh solid #e1c573;
    box-shadow: 0px 0px 4px 4px #00000044;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: calc(8px + 1dvh);
    transition: opacity 0.6s, width 0.6s, height 0.6s, font-size 0.6s,
        box-shadow 0.6s;
}

.cardWrapper:hover {
    height: 136%;
    font-size: calc(10px + 1.3dvh);
    box-shadow: 0px 0px 4dvw 1dvh #000a;
}

.card {
    width: 96%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1%;
    align-items: center;

    pointer-events: none;
}

.cardImgWrapper {
    width: 100%;
    height: 50%;
    border-radius: 100dvh 100dvh 0 0;
    border: 0.2dvh solid #807253;
    overflow: hidden;
}

.cardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.cardDescWrapper {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232330;
    border: 0.2dvh solid #807253;
    overflow: scroll;
}
.cardDesc {
    padding: 4%;
    color: #e1c573;
    text-align: center;
    word-break: break-all;
}

#homePlaceholdLayer {
    width: 100%;
    height: 50%;
}

#homeBtnLayer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

#homeBtnLayer div {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playBtnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playBtn {
    height: 11dvh;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: large;
    letter-spacing: 0.15dvw;

    color: #cebb82;
    background-color: #2a2a48;
    border: 0.3dvh solid #dac378;
    box-shadow: 0px 0px 3px 3px #00000044;

    transition: opacity 0.2s, width 0.6s, color 0.2s, border 0.2s,
        box-shadow 0.2s, background-color 0.2s;
}

#playBtn:hover {
    color: #eddaa1;
    border: 0.3dvh solid #f7e5ab;
    box-shadow: 0px 0px 4px 4px #ffffff08;
    background-color: #2d2d4a;
}

.btnActive {
    width: 88%;

    opacity: 1;
}

.btnInactive {
    width: 100%;

    opacity: 0.6;
}

#fullscreenBtn {
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: medium;
    /* font-weight: bold; */
    letter-spacing: 0.15dvw;

    background-color: #2e2e46;
    border: 0.2dvh solid #dac378;
    box-shadow: 0px 0px 2px 2px #00000022;
}

#homeAccentBar {
    margin-bottom: 3dvh;

    width: 4%;
    height: 0px;

    border: #dac378 0.18dvh solid;
}

#triangle {
    margin-top: -0.1%;
    margin-left: -0.2%;
    width: 100.4%;
    height: 48vh;
    position: relative;

    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="50%" y2="100%" stroke="rgb(225,197,115)" stroke-width= "3" /></svg>'),
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="50%" y1="100%" x2="100%" y2="0" stroke="rgb(225,197,115)" stroke-width= "3"/></svg>');
}
