#home {
    display: inline-block;
    width: 96dvw;
    padding: 2dvw 2dvw 12dvh 2dvw;
}

#homeMain {
    width: 100%;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 0.4dvh solid #e1c573;
    border-bottom: none;
}

#logoWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    padding: 4dvh;
    width: 13dvw;
    height: auto;
}

#deck {
    position: absolute;
    left: 4dvw;
    width: 12dvw;
    height: 100%;
    padding: 0px;
    border: 0.2dvh solid #e1c573;
    box-shadow: 0px 0px 4px 4px #00000044;
    background-image: url("/images/home/deck.png");
    background-size: cover;
    background-position: center;
    transition: width 0.1s, height 0.1s, box-shadow 0.2s, border 0.2s,
        filter 0.2s;
}

#deck:hover {
    border: 0.2dvh solid #f7e5ab;
    box-shadow: 0px 0px 4px 8px #4441;
    filter: brightness(1.1);
}

#deck:active {
    transition: width 0s, height 0s, box-shadow 0s, border 0s, filter 0s;
    width: 11.8dvw;
    height: 98%;
    border: 0.2dvh solid #e1c573;
    box-shadow: inset 0px 0px 24px 12px #00000066;
}

#cardOpenerLayer {
    position: absolute;
    top: 32dvh;
    left: 0dvw;
    width: 100%;
    height: 34%;
}

#cardOpenerWrapper {
    margin-left: 17dvw;
    width: 100%;
    height: 100%;
}

#cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.mainCardWrapper {
    width: 0px;
    height: 100%;
    margin: 0px 2dvw;
    background-color: #1f1f33;
    border: 0.2dvh solid #e1c573;
    box-shadow: 0px 0px 4px 4px #00000044;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    font-size: calc(8px + 1dvh);
    transition: opacity 0.6s, width 0.6s, height 0.6s, font-size 0.6s,
        box-shadow 0.6s, margin 0.6s;
}

.mainCardWrapper:hover {
    height: 150%;
    font-size: calc(10px + 1.3dvh);
    box-shadow: 0px 0px 1dvh 0.5dvh #0006;
}

.mainCard {
    width: 96%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1%;
    align-items: center;

    pointer-events: none;
}

.cardImgWrapper {
    width: 100%;
    height: 50%;
    border-radius: 100dvh 100dvh 0 0;
    border: 0.2dvh solid #807253;
    overflow: hidden;
}

.cardImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.cardDescWrapper {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232330;
    border: 0.2dvh solid #807253;
    overflow: scroll;
}
.cardDesc {
    padding: 4%;
    color: #e1c573;
    text-align: center;
    word-break: break-all;
}

#homePlaceholdLayer {
    width: 100%;
    height: 56%;
}

#homeBtnLayer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

#homeBtnLayer div {
    width: 20%;
    height: 100%;
    margin-bottom: 1dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playBtnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playBtn {
    height: 11dvh;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: large;
    letter-spacing: 0.15dvw;

    color: #cebb82;
    background-color: #2a2a48;
    border: 0.3dvh solid #dac378;
    box-shadow: 0px 0px 3px 3px #00000044;

    transition: opacity 0.2s, width 0.6s, color 0.2s, border 0.2s,
        box-shadow 0.2s, background-color 0.2s;
}

#playBtn:hover {
    color: #eddaa1;
    border: 0.3dvh solid #f7e5ab;
    box-shadow: 0px 0px 4px 4px #ffffff08;
    background-color: #2d2d4a;
}

#playBtn:active {
    transition: opacity 0s, color 0s, border 0s, box-shadow 0s,
        background-color 0s;
    box-shadow: inset 0px 0px 4px 2px #00000066;
    background-color: #2a2a48;
    border: 0.3dvh solid #dac378;
    color: #cebb82aa;
    filter: brightness(0.9);
}

.btnActive {
    width: 88%;

    opacity: 1;
}

.btnInactive {
    width: 100%;

    opacity: 0.6;
}

.btnMatching {
    width: 100%;

    filter: brightness(0.85);
}

#fullscreenBtn {
    width: 20%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: medium;
    /* font-weight: bold; */
    letter-spacing: 0.15dvw;
    background-image: url("/images/home/fullscreen.png");
    background-color: #2e2e46;
    background-size: 52% 52%;
    background-position: center;
    background-repeat: no-repeat;

    color: #cebb82;
    border: 0.2dvh solid #dac378;
    box-shadow: 0px 0px 2px 2px #00000022;
}

#fullscreenBtn:active {
    box-shadow: inset 0px 0px 4px 2px #00000066;
    /* border: 0.2dvh solid #dac378aa; */
    filter: brightness(0.9);
}

#homeAccentBar {
    margin-bottom: 2dvh;

    width: 4%;
    height: 0px;

    border: #dac378 0.18dvh solid;
}

#triangle {
    margin-top: -0.1%;
    /* margin-left: -0.2%; */
    width: 100.4%;
    height: 48vh;
    position: relative;

    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="50%" y2="100%" stroke="rgb(225,197,115)" stroke-width= "3" /></svg>'),
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="50%" y1="100%" x2="100%" y2="0" stroke="rgb(225,197,115)" stroke-width= "3"/></svg>');
}

#homeContentWrapper {
    width: 100%;
}

#homeContent {
    width: 100%;
    margin-top: 12dvh;

    display: flex;

    flex-direction: column;
    align-items: center;
}

.country {
    width: 92%;
    padding: 3%;
    margin-top: 8dvh;

    border: 0.2dvh solid #e1c573;
    box-shadow: 0px 0px 4px 4px #00000044;

    transition: width 0.2s, background-color 0.2s, border 0.2s, box-shadow 0.2s;
    color: #e1c573;
}

.country:hover {
    width: 94%;
    background-color: #1f1f33;
    border: 0.3dvh solid #e1c573;
    box-shadow: 0px 0px 6px 6px #00000066;
}

.countryName {
    margin: 0px 0px 2dvh 0px;
}

.countryImgWrapper {
    width: 12dvw;
    height: 12dvw;

    border: 0.2dvh solid #807253;
}

.countryImgWrapper img {
    width: 100%;
    height: 100%;
}

.countryDescWrapper {
    display: flex;
    flex-direction: row;
    gap: 1%;
}

.countryDesc {
    font-size: large;
}

.units {
    width: 100%;
    padding-top: 4%;
    display: flex;
}

.cardWrapper {
    width: 8dvw;
    aspect-ratio: 3/5;
    margin: 0px 4dvw 0px 0px;
    background-color: #1f1f33;
    border: 0.2dvh solid #e1c573;
    box-shadow: 0px 0px 4px 4px #00000044;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(8px + 1dvh);
}

.card {
    width: 96%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1%;
    align-items: center;

    pointer-events: none;
}

#footer {
    position: fixed;
    left: 2dvw;
    bottom: 0px;
    width: 96dvw;
    height: 5dvh;

    display: flex;
    justify-content: space-between;

    color: #e1c573;
}

#footer div {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 2dvw;
    text-shadow: 0px 0px 2px #000000ff;
}

#soundBtn {
    height: 100%;
}

#soundImg {
    height: 80%;
    max-width: 32px;
    object-fit: cover;
}

a {
    color: #f0dea3;
}

a:visited {
    color: #f0dea3;
}
