body {
    width: 100vw;
    padding: 0px;
    margin: 0px;
    color: white;
    cursor: default;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #27273a;
}

.timesFont {
    font-family: "Times New Roman", Times, serif;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}
body::-webkit-scrollbar {
    display: none;
}
#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#scene {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100dvw;
    height: 100dvh;
}

#home {
    display: block-inline;
    width: calc(100dvw - 6dvh);
    height: 94dvh;
    margin: 3dvh 3dvh 0px 3dvh;
    border: 0.4dvh solid #e1c573;
    border-bottom: none;
}

#homeContent {
    width: calc(100dvw - 6dvh);
    height: 94dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
}

#logoWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo {
    padding: 3dvh;
}

#homeDisplayLayer {
    height: 50%;
}

#homeBtnLayer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    /* gap: 2%; */
}

#homeBtnLayer div {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#playBtnWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playBtn {
    height: 12dvh;

    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: large;
    letter-spacing: 0.15dvw;

    color: #cebb82;
    background-color: #2e2e46;
    border: 0.3dvh solid #dac378;
    box-shadow: 0px 0px 3px 3px #00000044;

    transition: opacity 0.2s, width 0.6s, color 0.2s, border 0.2s,
        box-shadow 0.2s, background-color 0.2s;
}

#playBtn:hover {
    color: #eddaa1;
    border: 0.3dvh solid #f7e5ab;
    box-shadow: 0px 0px 4px 4px #ffffff08;
    background-color: #32324c;
}

.btnActive {
    width: 88%;

    opacity: 1;
}

.btnInactive {
    width: 100%;

    opacity: 0.6;
}

#fullscreenBtn {
    padding: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: medium;
    /* font-weight: bold; */
    letter-spacing: 0.15dvw;

    background-color: #2e2e46;
    border: 0.2dvh solid #dac378;
    box-shadow: 0px 0px 2px 2px #00000022;
}

#homeAccentBar {
    margin-bottom: 3dvh;

    width: 4%;
    height: 0px;

    border: #dac378 0.18dvh solid;
}

#triangle {
    margin-top: -0.1%;
    margin-left: -0.2%;
    width: 100.4%;
    height: 48vh;
    position: relative;

    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="50%" y2="100%" stroke="rgb(225,197,115)" stroke-width= "3" /></svg>'),
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><line x1="50%" y1="100%" x2="100%" y2="0" stroke="rgb(225,197,115)" stroke-width= "3"/></svg>');
}

#footer {
    position: fixed;
    bottom: 0;
    width: calc(100dvw - 14dvh);
    height: 5dvh;
    margin: 0px 4dvh;

    display: flex;
    justify-content: space-between;

    color: #e1c573;
}

#footer div {
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 2dvw;
}

#soundBtn {
    height: 100%;
}

#soundImg {
    height: 80%;
    max-width: 32px;
    object-fit: cover;
}

a {
    color: #f0dea3;
}

a:visited {
    color: #f0dea3;
}

#game {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
}

#topWrapper {
    z-index: 1;
    position: absolute;
    top: 0dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 5dvh;
    background-color: #212121;
}

#placeholder {
    width: 15%;
    height: 100%;
}

/* #state {
    width: 15%;
    text-align: center;
    font-size: 20px;
} */
#timerWrapper {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 38dvw;
    width: 24dvw;
    height: 14dvh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    font-size: 3vh;
    color: #f4dc92;
    background-image: url("/images/game/pentagon.png");
    object-fit: cover;

    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#timerAccentBar {
    width: 6%;
    height: 0px;
    border: 1px solid #e1c573;
    margin-bottom: 2vh;
}
#stageInfo {
    width: 55%;
    text-align: center;
    font-size: 20px;
}

#controlBtns {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#settingBtn {
    background: none;
    border: none;
}

#surrenderBtn {
    background: none;
    border: none;
}

.cat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background-color: #212121;
}

#damage {
    position: absolute;
    top: 0;
    left: 0;
    width: 30dvw;
    height: 40dvh;
    background-color: #212121aa;
}

#inventoryWrapper {
    z-index: 1;
    position: absolute;
    top: 28dvh;
    left: 0dvw;
    padding: 0.5dvh;

    background-color: #1f1f33;
    border: 2px solid #e1c573;
}

#inventory {
    border-spacing: 1dvh;
}

.inventoryCell {
    width: 7dvw;
    height: 7dvw;
    border: 1px solid #807253;
    background-color: #232337;
}

#moneyWrapper {
    height: 3dvw;
    border: 1px solid #807253;
    background-color: #232337;
}

.cell:hover {
    background-color: #444444aa;
}

#rightWrapper {
    z-index: 1;
    position: absolute;
    top: 5dvh;
    right: 0px;
    width: 8%;
    min-width: 72px;
    height: 73dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    pointer-events: none;
}

#playersHp {
    width: 80%;
    height: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin-right: 20%;
}

.player {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #212121;
    border: 2px solid #e1c573;
    border-radius: 100%;
}

#synergies {
    z-index: 1;
    position: absolute;
    bottom: 22dvh;
    height: 8dvh;
    padding-bottom: 1dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1dvw;
}

.synergy {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20%;
    color: #fff;
    aspect-ratio: 1;
}

.synergyActive {
    color: #fff;
    border: 2px solid #e1c573;
}
.synergyInactive {
    color: #ccc;
    border: 2px solid #0e0c0c;
}

.synergy span {
    font-size: calc(8px + 0.5vw);
}

#bottomWrapper {
    z-index: 1;
    position: absolute;
    bottom: 0px;
    width: 100vw;
    height: 22dvh;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#streak {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #212121;
    width: 10%;
    height: 18%;
    color: #eee;
    visibility: hidden;
}

#bottomRow {
    display: flex;
    width: 100dvw;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
}

#buyBtns {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: initial;
}

#buyExp {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    background: linear-gradient(to right, #000, #192455);
}

#levelInfo {
    width: 100%;
}

#level {
    font-weight: bold;
}

#reload {
    height: 50%;
    width: 100%;
    color: #fff;
    background: linear-gradient(to right, #000, #5f5711);
}

#sell {
    height: 100%;
    width: 80%;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    pointer-events: initial;
}

#shop {
    height: 100%;
    width: 80%;
    display: flex;
}

#shoplist {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    pointer-events: initial;
}

#shoplist button {
    height: 100%;
    width: 25%;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #000;
    overflow: hidden;
}

.shopImageWrapper {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-row-start: 1;
    grid-column-start: 1;
    background-size: cover;
    background-position: center;
}

.shopGradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0),
            97%,
            rgba(0, 0, 0, 0.5)
        ),
        linear-gradient(to bottom, rgba(0, 0, 0, 0), 97%, rgba(0, 0, 0, 0.5)),
        linear-gradient(to left, rgba(0, 0, 0, 0), 97%, rgba(0, 0, 0, 0.5)),
        linear-gradient(to right, rgba(0, 0, 0, 0), 40%, rgba(0, 0, 0, 1));
}

.shopUnitInfo {
    width: 92%;
    height: 92%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    grid-row-start: 1;
    grid-column-start: 1;

    padding: 4%;
    gap: 4%;
}

.shopSynergies {
    height: 32%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    gap: 2%;
}

.shopSynergies .synergy span {
    visibility: hidden;
}

#popUp {
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #212121cc;
    z-index: 1;
    pointer-events: none;
}

#modal {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;

    transition: display 0.5s;
}

#modalBackdrop {
    position: absolute;
    width: 100%;
    height: 200%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00000066;
}

#modalContent {
    min-width: 30%;
    min-height: 40%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #27273a;
    border: 0.2dvh solid #e1c573;
    z-index: 1;

    /* shadow */
    box-shadow: 0px 0px 1dvh 1dvw #0000001a;
}

#modalHeader {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#modalClose {
    padding: 2%;
    height: auto;
}

#modalBody {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #cebb82;
    letter-spacing: 0.15dvw;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
}

#modalFooter {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.modalRow {
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.modalBtn {
    width: 8dvh;
    height: 8dvh;
    font-size: 24px;
}
#settingWrapper {
    display: none;
}

#surrenderWrapper {
    display: none;
}

#waiting {
    display: none;
}
