doctype html
html
  head
    title= title
    link(rel="icon" href="/images/home/favicon.ico")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/home.css')
    link(rel='stylesheet', href='/stylesheets/game.css')
    link(rel='stylesheet', href='/stylesheets/unitInfo.css')
    script(type='importmap')
      | {
      |   "imports": {
      |     "three": "https://unpkg.com/three@latest/build/three.module.js",
      |     "three/addons/": "https://unpkg.com/three@latest/examples/jsm/",
      |     "three/nodes": "https://unpkg.com/three@latest/examples/jsm/nodes/Nodes.js"
      |   }
      | }
    script(src='/javascripts/main.js' type='module')
  body
    block content